/*.loader-box {

    background-image: linear-gradient(114deg, #4fb6d8, #4d7a89);
    width: 100px;
    text-align: center;
    color:  white;
    height: 30px;
    margin: 41vh auto;
    padding: 3px;
}*/
