/*General*/
p, a {
  font-family: 'Karla';
  color: #4e445f;
}

h5 {
  font-family: 'Inconsolata';
  color: #4e445f;
  font-size: 1.55rem;
  vertical-align: middle;
}

a {
  /*text-decoration: underline;*/
  color: #4d7a89;
}

a:hover {
  cursor: pointer;
  text-decoration: none;
}

body {
  display: table;
}

/*Loader*/


.loader-box {
    margin: 0 auto;


}

.loader-margin{
  margin: 41vh auto;
}


/*First-Page-Upload*/

.background {
  background-color: #f5f5f5;
  width: 100vw;
  height: 100vh;
  padding: 26px 45px 20px 45px;
}

.upload-card{
  width: 99vw;
  height: 92vh;
  margin: auto;
  /*box-shadow:14px 12px 34px -6px #4943a0;*/
  border:3px solid #4d7a89;

}

#choose {
  font-family: "Karla";
  font-size: 14px;
  color: #e3e3e3;
}

#line
{

height: 91.5vh;
border-right: 1px solid #4d7a89;
 background-image: linear-gradient(114deg, #4fb6d8, #4d7a89);
}

.settings{
  text-align: center;
  margin: 30vh auto;

}

.clustering {
    padding: 10vh 0vh;
}

.reccomender {
padding: 20vh 0vh;
}

.photo-box {
  margin: auto;
  width: 60vw;
  height: 70vh;
  border-radius: 10px;
  border: 2px #f9026d dashed;
}

#dragdrop {
  text-align: center;
  font-size: 18px;
  position: relative;
  top: 47%;
  bottom: 50%;
}

.upl-bar{
  margin-top: 20%;
}

#upl-button {
  color: #f9026d;
  text-decoration: underline;
}

#upl-icon {
  image: url(assets/upload-files.png);
  width: 30%;
  height: auto;
}

.go-space{
  margin-top: -28px;
}
.go-btn {
  margin: auto;
  text-align: center;
  padding-top: 14px;
  width: 95px;
  height: 67px;
  background-color: #f9f9f9;
  color: #1a0663;
  border-radius: 60px 60px 0px 0px;
  box-shadow:0px -26px 50px -13px #4d7a89;
  font-family: 'Karla';
  font-size: 24px;
}

.go-btn:hover{
  color: #61a74b;
  cursor: pointer;
}

/*Tool First Page*/

.page-title {
  margin: 0 auto;
}

.restart-space {
  height:14.5vh;
  border-top: 1px solid #578290;
}

.restart-col{
  position: relative;
}

.pagetitle {
  margin-left: 2vw;
  margin-bottom: 3vh;
}

#nodata {
  color: white;
}

#firstpage-title{
  vertical-align: center;
  margin-left: 15px;
  font-size: 22px;
  display: inline-flex;
  line-height: 191%;
  margin-left: 4vw;
}

.btn-secondary {
  background-color: #f5f5f5;
  margin-left: 15px;
  color: #4e445f;
  font-size: 22px;
  font-family: 'Karla';
  width: 17vw;
  height: 5vh;
  border: 2px solid  #e2b3a3;
  line-height: 0px;
  border-radius: 0px;
}

.btn-secondary.active, .btn-secondary:active, .show>.btn-secondary.dropdown-toggle {
  background-color:  #f5f5f5;
  color: #6c757d;
  outline: none;
}

/*images-classes-for-photos*/

.post {
  height: 11vw;
  width: 11vw;
  /*background-color: #4943a0;*/
  border: 2px solid #4d7a89;
  text-align: center;
  font-family: 'Karla';
  color: #4d7a89;
  font-size: 30px;
}


/*.ranked {
  background: no-repeat center;
  background-size: 200px;
}*/


.score {
  text-align: center;
  font-family: 'Inconsolata';
  color: #4e445f;
  width: 11vw;
  margin-top: 0.6vh;
}

.hidden-overflow {
  width: 44vw;
  height: 61.4vh;
  margin: 0 auto;
  /*border-top: 1px solid #4d7a89;*/
  /*border-bottom: 1px solid #4d7a89;*/
}

.post-number {
  width: 2.5vh;
  height: 2.5vh;
  background-color: #4d7a89;
  color: white;
  font-size: 1rem;
  text-align: center;
  z-index: 9999;
  position: absolute;
}

.align-items {
  display: flex;
  height: 59.3vh;
  width: auto;
  position: relative;

}

#align-items-flex-start {
  align-items: flex-start;
  flex-wrap: wrap;
  overflow: auto;
  margin: 20px auto;
  position: absolute;
}

#target-label {
  text-transform: uppercase;
  /*letter-spacing: 1px;*/
  padding: 3px;
  border: 2px solid #FFDD78;
}

#target-label2 {
  margin: auto 5px;
  padding: 3px 6px;
  border: 2px solid #FFDD78;
}

.switch-users {
  margin: -23px 0px 0 40px;
}

.switch-competitor {
  margin: -23px 0px 80px;
}

.switcher {
  margin: -20px 0 19px -31px;
  border: 1px solid black;
}

.dropdown-item {
  font-family: 'Karla';
  text-align: center;
  border-bottom: 1px solid #17a2b857;
  width: 17vw;
  padding: 1.25rem 1.5rem;
  color: #6c757d;
}

.dropdown-menu {
  z-index: 10000;
  max-width: 17vw;
  border-radius: 0px;
  background-color: #f5f5f5;
  border: 1px solid #17a2b857;
}


/*Single Post Page*/

#back{
	position: fixed;
	z-index: 1;
}

.cont-post{
	width: 15vw;
	height: 15vw;
	overflow: hidden;
  z-index: 1;
}

.cont-post2{
  width: 11vw;
}

.post-single {
  width: 10vw;
  height: 10vw;
}

.page-title {
  margin-top: 7vh;
}

.single-content{
  margin: 7vh 4.5vh auto;
}

.caption-container {
  border: 1px solid #578290;
  /*height: 65%;*/
  position: relative;

}

#caption-edit{

  margin: 10px 0px 0px 15px;
  color: #578290;
  font-family: 'Inconsolata';
  overflow-y: scroll;
  height: 150px;
  overflow: hidden;
  outline: none;

}

.graph-container {
  width: 22vw;
  height: calc(45vh - 4vh);
  border-left: 1px dashed #578290;
  margin-left: 0px;
  /*padding: 2px 4px;*/
}

#competitors-par {
  /*width: 22vw;*/
}

.single-content-second{
  margin: 4vh 5vh;
}

/*#margin-single-post {
  margin-top: -10vh;
}*/

#margin-column-post {
  margin: 2vh 6vh;
}

.configuration-btn, .restart-btn, .copy-btn {
  width: 95px;
  height: 32px;
  position: absolute;
  bottom: 0;
  right: 0;
  border-top: 1px solid #578290;
  border-left:1px solid #578290;
  cursor: pointer;
}

.configuration-btn, .restart-btn{
width: 200px}

.configuration-btn {
  right: 13.6vw;
}
#configuration, #restart, #copy{
  padding: 4px;
  text-align: center;
  color: #578290;
  font-family: 'Karla';
}

.arrow-right{
  margin-left: 2.1vw;
  position: relative;
  top: 42vh;
  /*transform: rotate(180deg);*/
}

.visualization-label {
text-align: center;
font-size: 1.15em;
background-color: #4d7a89;
color: white;
}

.last-container{
border-right: 1px dashed #578290}


.tooltip {
  position: absolute;
  width: 200px;
  height: 28px;
  pointer-events: none;
  font-size: 1em;
  font-family: 'Inconsolata', sans-serif;
  color: black;
  text-align: left;
}
/*--------------SOLO PER RESIZE ----------*/

@media screen and (max-height: 784px){
.clustering {
padding: 9vh 0vh;
}

.reccomender {
 padding: 14vh 0vh;
}

 .box{
   height: 471px;
 }
 .upl-bar{
   margin-top: 20%;
 }
 .box__file + label{
   font-size: 18px;
   text-overflow: ellipsis;
 }

 .btn-secondary {
   font-size: 20px;
   width: 17vw;
 }

 .caption-container {
   border: 1px solid #578290;
   /*height: 60%;*/
   position: relative;
 }
 #competitors-par{
   /*width: 25vw;*/
 }
 .post-single {
   width: 10vw;
   height: 10vw;
 }

 .graph-container {
   height: 35vh;
   /*padding: 2px 4px;*/
 }

 .restart-space {
   height: 13.8vh;
 }
.hidden-overflow {
 height:61.6vh;
}
 .post-number {
   font-size: 0.8rem;
   margin-top: 0.05rem;
 }

 .single-content-second {
   margin-top:2.5vh;
 }




}

@media screen and (min-width: 1920px) {
 .restart-space {
   height: 14.2vh;
 }

 #align-items-flex-start{
   margin: 23px auto;
 }
}