/*General*/
p, a {
  font-family: 'Karla';
  color: #4e445f;
}

h5 {
  font-family: 'Inconsolata';
  color: #4e445f;
  font-size: 1.55rem;
  vertical-align: middle;
}

a {
  text-decoration: underline;
  color: #4d7a89;
}

a:hover {
  font-weight: 700;
  cursor: pointer;
}

body {
  display: table;
}

/*First-Page-Upload*/

.background {
  background-color: #f5f5f5;
  width: 100vw;
  height: 100vh;
  padding: 26px 45px 20px 45px;
}

.upload-card{
  width: 99vw;
  height: 92vh;
  margin: auto;
  /*box-shadow:14px 12px 34px -6px #4943a0;*/
  border:3px solid #4d7a89;

}

#choose {
  font-family: "Karla";
  font-size: 14px;
  color: #e3e3e3;
}

#line
{

height: 91.5vh;
border-right: 1px solid #4d7a89;
}

.settings{
  text-align: center;
  margin: 30vh auto;

}

.reccomender, .clustering{
padding: 13vh 0vh;
}

.photo-box {
  margin: auto;
  width: 60vw;
  height: 70vh;
  border-radius: 10px;
  border: 2px #f9026d dashed;
}

#dragdrop {
  text-align: center;
  font-size: 18px;
  position: relative;
  top: 47%;
  bottom: 50%;
}

.upl-bar{
  margin-top: 20%;
}

#upl-button {
  color: #f9026d;
  text-decoration: underline;
}

#upl-icon {
  image: url(assets/upload-files.png);
  width: 30%;
  height: auto;
}

.go-space{
  margin-top: -28px;
}
.go-btn {
  margin: auto;
  text-align: center;
  padding-top: 14px;
  width: 95px;
  height: 67px;
  background-color: #f9f9f9;
  color: #1a0663;
  border-radius: 60px 60px 0px 0px;
  box-shadow:0px -26px 50px -13px #4d7a89;
  font-family: 'Karla';
  font-size: 24px;
}

.go-btn:hover{
  color: #61a74b;
  cursor: pointer;
}

/*Tool First Page*/

.page-title {
  margin: 0 auto;
}

.pagetitle {
  margin-left: 2vw;
}

#firstpage-title{
  vertical-align: center;
  margin-left: 15px;
  font-size: 22px;
  display: inline-flex;
  line-height: 191%;
}

.btn-secondary {
  background-color: #f5f5f5;
  margin-left: 15px;
  color: #4e445f;
  font-size: 22px;
  font-family: 'Karla';
  width: 24vw;
  height: 5vh;
  border: 2px solid  #e2b3a3;
  line-height: 0px;
}

/*images-classes-for-photos*/

.post {
  height: 11vw;
  width: 11vw;
  /*background-color: #4943a0;*/
  border: 2px solid #4d7a89;
  text-align: center;
  font-family: 'Karla';
  color: #4d7a89;
  line-height: 169.5px;
  font-size: 30px;
}

.ranked {
  background: no-repeat center;
  background-size: 200px;
}


.score {
  text-align: center;
  font-family: 'Inconsolata';
  color: #4e445f;
}

.hidden-overflow {
  overflow: hidden;
  width: 80vw;
  margin-left: 2vw;
}

.align-items {
  display: flex;
  height: 57vh;
  width: auto;
}

#align-items-flex-start {
  align-items: flex-start;
  flex-wrap: wrap;
  overflow: auto;
  margin: 20px auto;
}

#target-label {
  text-transform: uppercase;
  /*letter-spacing: 1px;*/
  padding: 3px;
  border: 2px solid #FFDD78;
}

#target-label2 {
  margin: auto 5px;
  padding: 3px 6px;
  border: 2px solid #FFDD78;
}

.switch-users {
  margin: -23px 0px 0 40px;
}

.switch-competitor {
  margin: -23px 0px 80px;
}

.switcher {
  margin: -20px 0 19px -31px;
  border: 1px solid black;
}

.dropdown-item {
  font-family: 'Inconsolata';
  text-align: center;
  border-bottom: 1px solid black;
  width: 29vw;
}

/*TestVis CSS*/

.clustering-2
{
padding: 3px 5px -1px 10px;
}

  .grid-angles{fill:none;stroke:#A3C9D5;stroke-width:0.8694;stroke-miterlimit:10;}
  .dash-grid-circles{fill:none;stroke:#A3C9D5;stroke-width:0.4347;stroke-miterlimit:10;stroke-dasharray:4.3468,4.3468;}
  .st3{fill:#A3C9D5;}
  .gradient1-viz1{fill:url(#path-6_5_);}
  .gradient2-viz1{fill:url(#path-6_6_);}
  .gradient3-viz1{fill:url(#path-6_7_);}
  .gradient4-viz1{fill:url(#path-6_8_);}
  .gradient5-viz1{fill:url(#path-6_9_);}
  .white-fill-dots{fill:#FFFFFF;}
  .white-font-clusters{fill:#E5E5E5;}
  .font-size-clusterlabel{font-family:'Inconsolata'; font-size:11px;}
  .dark-fill-dots{fill:#323E43;}
  .darkfont-cluster-label{fill:#202D32;}
  .post-dots{fill:#4D7A89;}
  #cluster3-asDefault, #cluster4-asDefault  {display: none;}


  .gradient1-viz2{fill:url(#gradient1);}
	.gradient2-viz2{fill:url(#gradient2);}
	.gradient3-viz2{fill:url(#gradient3);}
	.gradient4-viz2{fill:url(#gradient4);}
	.gradient5-viz2{fill:url(#gradient5);}

	.st3{fill:url(#gradient1-viz3);}
	.st4{fill:url(#gradient2-viz3);}
	.st5{fill:url(#gradient3-viz3);}
	.st6{fill:url(#gradient4-viz3);}
	.st7{fill:url(#gradient5-viz3);}

#test-plot{
  border: 1px solid #A3C9D5;
  margin: 0  1.5vw;
}

/*Single Post Page*/

#back{
	position: fixed;
	z-index: 1;
}

.cont-post{
	width: 15vw;
	height: 12vw;
	overflow: hidden;
}

.post-single {
<<<<<<< HEAD
  width: 300px;
  height: 300px;
=======
  width: 22vw;
  height: 22vw;
>>>>>>> fc9dffe485a8f390ad66ac8bf72b19600e6f8afb
}

.page-title {
  margin-top: 7vh;
}

.single-content{
  margin: 7vh 5vh auto;
}

.caption-container {
  border: 1px solid #578290;
  height: 65%;
  position: relative;

}

#caption-edit{

  margin: 10px 0px 0px 15px;
  color: #578290;
  font-family: 'Inconsolata';
  overflow-y: scroll;
  height: 150px;
  overflow: hidden;
  outline: none;

}

.graph-container {
  width: 22vw;
  height: 100%;
  border: 1px solid #578290;
  margin-left: 0px;
}

#competitors-par {
  width: 22vw;
}

.single-content-second{
  margin: 2vh 5vh auto;
}

#margin-single-post {
  margin-top: -10vh;
}

#margin-column-post {
  margin: auto;
}

.copy-btn {
  width: 95px;
  height: 32px;
  position: absolute;
  bottom: 0;
  right: 0;
  border-top: 1px solid #578290;
  border-left:1px solid #578290;
  cursor: pointer;
}

#copy{
  padding: 4px;
  text-align: center;
  color: #578290;
  font-family: 'Karla';
}

.arrow-right{
  margin-left: 2.1vw;
  position: relative;
  top: 42vh;
  transform: rotate(180deg);
}

.loader-box {

    background-image: linear-gradient(114deg, #4fb6d8, #4d7a89);
    width: 100px;
    text-align: center;
    color:  white;
    height: 30px;
    margin: 41vh auto;
    padding: 3px;
}


/*--------------SOLO PER RESIZE ----------*/
@media screen and (max-width: 1280px){
  .box{
    height: 471px;
  }
  .upl-bar{
    margin-top: 20%;
  }
  .box__file + label{
    font-size: 18px;
    text-overflow: ellipsis;
  }

  .btn-secondary {
    font-size: 20px;
    width: 20vw;
  }

  .caption-container {
    border: 1px solid #578290;
    height: 60%;
    position: relative;
  }
  #competitors-par{
    width: 25vw;
  }
  .post-single {
    width: 22vw;
    height: 22vw;
  }
}
